.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 64px;
    background-color:lightpink;
}

.header-title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

.header-link a{
    text-decoration: none;
    margin-left: 15px;
    font-family: 'Courier New', Courier, monospace;
    font: bold;
}

/*Responsive part*/
@media screen and (max-width:576px){
    .header{
        display: contents;
        flex-direction: column;
    }

    .header-title{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .header-link{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
}



